* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
}

h1 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

nav > button {
  background-color: white;
  border: none;
  font-size: 45px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.blog__card {
  width: 550px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  gap: 15px;
}

.image__wrapper {
  height: 250px;
  width: 95%;
}

.blog__card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.blog__title {
  font-size: 30px;
  font-weight: 600;
}

.blog__description {
  color: gray;
  font-size: 22px;
}

.read__more {
  background-color: #fff0ed;
  color: #e7695b;
  border: none;
  padding: 15px 50px;
  font-size: 20px;
  font-weight: 500;
}

.modal {
  background-color: #f4f6fe;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.modal.open{
  display: block;
}

#close {
  background-color: #f4f6fe;
  border: none;
  font-size: 35px;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  margin-top: 20px;
}

.modal__content input{
    width: 95%;
    padding: 1.5rem;
    font-size: 20px;
}

input:focus{
    outline: none;
}

.modal__content textarea{
    width: 95%;
    padding: 1.5rem;
    font-size: 20px;
}

::placeholder{
    font-size: 20px;
}

#add__btn{
    background-color: #6f11f5;
    color: #fff;
    width: 95%;
    padding: 1.5rem;
    border: none;
    border-radius: 5px;
}


@media screen and (min-width:768px) {
    #myModal{
        width: 50%;
        height: 80%;
        transform: translate(50%, 15%);
    }
}